.order-resume {
    margin: 0 auto;
    height: 90%;
    width: 80%;
}

.order-resume ol {
    list-style-type: none;
    list-style-type: decimal;
    margin: 0;
    margin-left: 1em;
    padding: 0;
    counter-reset: li-counter;
}

.order-resume ol li{
    list-style-type: none;
    position: relative;
    margin-bottom: 1.5em;
    padding: 0.5em;
    background-color: #ffa545;
    padding-left: 58px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.05)
}

.order-resume p {
    font-size: 20px;
}
    
.order-resume a{
    text-decoration:none;
    color:black;
    font-size:15px;
}
    
.order-resume li:hover{
    box-shadow:inset -3em 0 rgb(255, 88, 88);
    -webkit-transition: box-shadow 0.5s; 
    transition: box-shadow 0.5s;
}

.order-resume ol li:before {
    border: 1px solid black;
    border-radius: 5px;
    position: absolute;
    top: -0.3em;
    left: -0.5em;
    width: 1.8em;
    height: 1.2em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    text-align: center;
    color: rgb(10, 10, 10);
    background-color: rgb(255, 88, 88);
    transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    z-index: 99;
    overflow: hidden;
    content: counter(li-counter);
    counter-increment: li-counter;
}