.logo {
    margin: 20px 20px 30px 20px;
}

.logo img {
    width: 65px;
    height: 65px;
}

.menu button {
    margin-right: 10px;
    border: 0px;
    border-radius: 4px;
    background: none;
    color: white;
    padding: 10px;
    font-size: 19px;
}

.menu button:hover {
    cursor: pointer;
    color: orange
}