.container {
    position: relative;
    z-index: 1;
    background-color: #ffd09e;
}

.container::before {
    background-image: url("../../assets/bla.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .5;
}