.container {
    background-color: #ffd09e;
    height: 100%;
}

.home-box {
    position: relative;
    height: 450px;
    width: 800px;
    background: white;
    border-radius: 10px;
    margin: 100px auto;
}