.admin-index-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    font-family: 'Hammersmith One', sans-serif !important;
}