* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

@font-face {
    font-family: "cute-jellyfish";
    src: url("./assets/fonts/main/cute-jellyfish.woff") format("woff"),
    url("./assets/fonts/main/cute-jellyfish.otf") format("opentype");
}