.admin-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    font-family: 'Hammersmith One', sans-serif !important;
    background: linear-gradient(transparent, rgb(110, 104, 110), rgb(8, 8, 8));
}

.card-admin {
    min-width: 300px !important;
    text-align: center !important;
}

.admin-card-header {
    font-family: 'Hammersmith One', sans-serif !important;
    font-size: 23px !important;
    width: 100%;
    color: white;
    background: rgb(0, 0, 0) !important
}

.admin-card-body {
    padding: 30px !important;
    margin-bottom: -40px !important;
}

.admin-card-footer {
    width: 100%;
    background: rgb(0, 0, 0) !important;
}

.login-btn {
    margin: 0 auto !important;
    min-width: 200px;
    color: white !important;
    border: 1px solid white !important;
}

.login-btn:hover {
    color: black !important;
    background: rgb(255, 255, 255) !important;
}

.login-btn:active {
    transform: translateY(2px) !important;
}