.admin-container {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100vh !important;
    font-family: 'Hammersmith One', sans-serif !important;
    background: rgba(219, 219, 219, 0.596)
}

.admin-login-container {
    min-width: 600px;
}

.admin-card-admin {
    min-height: 400px !important;
    text-align: center !important;
}

.admin-card-header {
    font-family: 'Hammersmith One', sans-serif !important;
    font-size: 28px !important;
    width: 100%;
    color: white;
    letter-spacing: 5px;
    background: rgba(253, 101, 246, 0.521) !important
}

.admin-card-body {
    padding: 30px !important;
    margin-bottom: -40px !important;
}

.admin-card-footer {
    width: 100%;
    background: rgba(253, 101, 246, 0.521) !important    
}

.admin-label {
    float: left;
}

.admin-login-btn {
    margin: 0 10px;
    min-width: 200px;
    color: white !important;
    border: 1px solid white !important;
}

.admin-login-btn:hover {
    color: black !important;
    background: rgb(255, 255, 255) !important;
}

.admin-login-btn:active {
    transform: translateY(2px) !important;
}